.team {
    text-decoration: underline;
    font-weight: bold;
}
.scores {
    text-align: right;
    letter-spacing: 3px;
}
.scores-stats {
    list-style: none;
}
.green-w {
    float: left;
    left: 60px;
    width: 80px;
    top: 450px;
    position: absolute;
}